* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'import';
    src: url(./assets/fonts/Nootdorp\ Regular\ Demo.ttf)
}
.game-container {
    height: 100vh;
    border: 1px solid black;
}
.ocean {
    font-family: 'import';
    font-size: 10rem;
    text-align: center;
    color: #713d52;
    height: 60%;
    position: relative;
    background-image: url(./assets/images/coast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ocean img {
    top: 10%;
    left: 40%;
    height: 15%;
    position: absolute;
}
#modalImage {
    width: 50vw;
    margin-left: 25vw;
}
.ship {
    font-size: 1rem;
    text-align: center;
    top: 40%;
    left: 5%;
    height: 30%;
    width: 30%;
    color: #ffd56f;
    background-color: transparent;
    position: absolute;
    background-image: url(./assets/images/boat3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}
.block-space {
    position: absolute;
    height: 40%;
    width: 15%;
    top: 0;
    right: 40%;
    background-color: #ffd56f;
    text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 255, 255),
		-1px 1px 0 rgb(255, 255, 255),
        1px 1px 0 rgb(255, 255, 255);
    color: rgb(73, 28, 110);
    font-size: 2.5rem;
}
.obelisk-board {
    position: absolute;
    width: 70%;
    height: 80%;
    right: 0%;
    top: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: flex-end;  
    align-items: center;
    
}

.stack {
    font-size: 4rem;
    text-align: center;
    width: 14%;
    height: 80%;
    background-image: url(./assets/images/obelisk\ transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    color: #390b57;
    font-weight: bold;
    text-shadow:
		-1px -1px 0 rgba(255, 255, 255, 0.582),
		1px -1px 0 rgb(255, 255, 255, 0.582),
		-1px 1px 0 rgb(255, 255, 255, 0.582),
        1px 1px 0 rgb(255, 255, 255, 0.582);
}

.action-bar {
    height: 10%;
    background-color: #713d52;
    text-align: center;
    font-size: 30px;
    background-size: contain;
    background-position: center;
    display:flex;
    justify-content: space-around;
}
.action-container{
    position: relative;
    width: 50%;
}
.action-container img{
    width: 20%;
    height: 100%;
}
.action-container button{

    padding: 15px 25px;
    text-align: center;
    color: #fff;
    border: none;
    box-shadow: 0 2px #999;
}
.action-container button:hover{
    background-color: #999;
    opacity: 20%; 
}
/* .action-bar button:active {
    /* opacity: 20%; 
    box-shadow: 0 5px #666; 
}*/



.action-bar button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 2.4rem;
    /* background-color: #ffd56f; */
    opacity: 0.8;
    border-radius: 3px;
    margin-top: 1%;
    margin-right: 4px;
    cursor: pointer;
    outline: none;
    margin-left: 4 px;
    padding: 2px;
    font-weight: bold;
    border-color: #73562e;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #73562e; */

}
.action-bar button#sail{
    background-color: #3d6878;
    color: white;
    border: solid .5px;
}
.action-bar button#load{
    background-color: #904702;
    /* color: #fff0d6; */
    color: white;
    border: solid .5px;
}
.action-bar button#get-block{
    background-color: black;
    color: white;
    border: solid .5px;
}
.action-bar button:active#sail {
    background-color: #5ca0b8; 
    color:#ffd66c;
}

.action-bar button:active#load {
    background-color: #904702; 
    color:#ffd66c;
}

.action-bar button:active#get-block {
    background-color: rgb(43, 43, 43); 
    color:#ffd66c;
}
.stats {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    /* border: 1px solid black; */
    /* background-color: #73562e; */
    /* background-color: tan; */
    background-color: #fff0d6;
}

.player {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 90%;
    width: 20%;
    border: 1px solid black;
    top: 5%;
}
.playerText{
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    text-shadow:
		-1px -1px 0 rgba(255, 255, 255, 0.582),
		1px -1px 0 rgb(255, 255, 255, 0.582),
		-1px 1px 0 rgb(255, 255, 255, 0.582),
        1px 1px 0 rgb(255, 255, 255, 0.582);
    color: rgb(73, 28, 110);
    font-family: 'import';
}

.player0{
    background-color:olive;
}
.player1{
    background-color:darkorange;
}
.player2{
    background-color:goldenrod;
}
.player3{
    background-color:tan;
}
.obelisk0{
    color: olive;
    
}
.obelisk1{
    color: darkorange;
    
}
.obelisk2{
    color: goldenrod;
   
}
.obelisk3{
    color: tan;
    
}
.sled {
    width: 100%;
    height: 90%;
    background-image: url(./assets/images/oie_transparent\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    color: rgb(73, 28, 110);
    text-shadow:
		-1px -1px 0 rgba(255, 255, 255, 0.582),
		1px -1px 0 rgb(255, 255, 255, 0.582),
		-1px 1px 0 rgb(255, 255, 255, 0.582),
        1px 1px 0 rgb(255, 255, 255, 0.582);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'import';
}

.score-container {
    height: 90%;
    width: 15%;
    top: 5%;
    /* background-color: lightpink; */
    border: 1px solid black;
    text-shadow:
		-1px -1px 0 rgba(255, 255, 255, 0.582),
		1px -1px 0 rgb(255, 255, 255, 0.582),
		-1px 1px 0 rgb(255, 255, 255, 0.582),
        1px 1px 0 rgb(255, 255, 255, 0.582);
    color: rgb(73, 28, 110);
    font-size: 2.5rem;
    text-align: center;
    font-family: 'import';
}
.score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 30%;
    margin: 0 auto;
}
.score-one {
    background-color: yellow;
}
.score-two {
    background-color: maroon;
}
.turn-track-container {
    height: 90%;
    width: 15%;
    top: 5%;
    /* background-color: skyblue; */
    border: 1px solid black;
    text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0.582),
    1px -1px 0 rgb(255, 255, 255, 0.582),
    -1px 1px 0 rgb(255, 255, 255, 0.582),
    1px 1px 0 rgb(255, 255, 255, 0.582);
    color: rgb(73, 28, 110);
    font-size: 2.5rem;
    text-align: center;
    font-family: 'import';
}
.round-tracker {
    height: 30%;
    width: 60%;
    /* background-color: darkorange; */
    text-align: center;
    margin: 0 auto;
    padding-top: 1vh;
    font-family: 'import';
}

.modal-container{
    position: relative;

}

.modal-bg{
    position: fixed;
    height: 100vh;
    width:100vw;
    background-image: url(assets/images/imhotep-touchedup-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    top: 0%;
    left:0%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-body{
    position: absolute;
    top: 45%;
    left: 35%;
    padding: 20px;
    width: 30%; 
    text-align: center;
    }

.modal-button{  
    font-size: 3rem;
    font-family: 'import';
    border-radius: 10%;
    background-color: #e6b4bd;
    width: 6vw;
}

.modal-text{
    font-family: 'import';
    font-size: 5rem;
    text-shadow:
		-1px -1px 0 rgba(255, 255, 255, 0.582),
		1px -1px 0 rgb(255, 255, 255, 0.582),
		-1px 1px 0 rgb(255, 255, 255, 0.582),
        1px 1px 0 rgb(255, 255, 255, 0.582);
    color: rgb(73, 28, 110);

}
.currentTurn {
    /* border: red 5px solid; */
    border:  rgb(73, 28, 110) 10px solid;
  /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 

  /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.hidden{
    display: none; 
}
.instructions{
    font-size: 1rem;
    font-family: 'import';
    border-radius: 10%;
    border: 1px black;
    background-color: #e6b4bd;
    width: 12vw;
    margin-top: 1vh;
}