* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'import';
    src: url(./assets/fonts/Nootdorp\ Regular\ Demo.ttf)
}
.game-container {
    height: 100vh;
    border: 1px solid black;
}
.ocean {
    font-family: 'import';
    font-size: 10rem;
    text-align: center;
    color: darkred;
    height: 60%;
    position: relative;
    background-image: url(./assets/images/coast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ship {
    font-size: 1rem;
    text-align: center;
    top: 40%;
    left: 5%;
    height: 30%;
    width: 30%;
    background-color: transparent;
    position: absolute;
    background-image: url(./assets/images/boat3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}
.block-space {
    position: absolute;
    height: 40%;
    width: 15%;
    top: 0;
    right: 40%;
    background-color: white;
}
.obelisk-board {
    position: absolute;
    width: 70%;
    height: 80%;
    right: 0%;
    top: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.stack {
    font-size: 2rem;
    text-align: center;
    top: 30%;
    width: 20%;
    height: 80%;
    position: absolute;
    background-image: url(./assets/images/obelisk\ transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
}
.stack-one {
    left: 50%;
}
.stack-two {
    right: 10%;
}
.action-bar {
    height: 7%;
    border: 1px solid black;
    background-color: maroon;
    text-align: center;
    font-size: 30px;
    background-size: contain;
    background-position: center
}
.stats {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    border: 1px solid black;
    background-color: aquamarine;
}

.player {
    display: flex;
    justify-content: space-around;
    height: 90%;
    width: 20%;
    border: 1px solid black;
    top: 5%;
}
.sled {
    width: 40%;
    height: 50%;
    top: 20%;
    background-color: lightsalmon;
}
.player-one {
    background-color: darkcyan;
}

.player-two {
    background-color: greenyellow;
}
.score-container {
    height: 90%;
    width: 20%;
    top: 5%;
    background-color: lightpink;
    border: 1px solid black;
}
.score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 30%;
}
.score-one {
    background-color: yellow;
}
.score-two {
    background-color: purple;
}
.turn-track-container {
    height: 90%;
    width: 10%;
    top: 5%;
    background-color: skyblue;
    border: 1px solid black;
}
.round-tracker {
    height: 60%;
    width: 60%;
    background-color: darkorange;
}

.modal-container{
    position: relative;

}

.modal-bg{
    position: fixed;
    height: 100vh;
    width:100vw;
    background-image: url(assets/images/gameboard.png);
    overflow: auto;
    top: 0%;
    left:0%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;

}
.modal-body{
    position: absolute;
    /* background-color: #b85e40; */
    top: 45%;
    left: 41%;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 30%; 
    text-align: center;
 
   
    }

.modal-buttons{
    display:flex;
    justify-content: space-around;
}

.modal-text{

}

.modal-button{
    height: 50px;
    width: 100px;
    border-radius: 10%;
    background-color: #e6b4bd;

}

.hidden{
    display: none;
}